@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

@import url("https://fonts.googleapis.com/css?family=Lato");

* { margin: 0; padding: 0; border: none; }
html,body { height:100%;
 margin:0;
  padding:0; 
  font-family: 'Lato', sans-serif;
  line-height: 30px;
  }
body{ 
  background-color:#ffffff;
  color:#ffffff;
  margin:0px;

 }
div.top{ 
  /*background-color:#494E6B;*/
  background:url('mountain.jpg');
  background-size: 1600px 200px;
  text-align: left;
  max-width: 100%;
  margin:30px;
  padding:0px;
  height: 150px;
  border-radius: 12px;
  border: 3px solid #bbb7ce;

}


div.top h1{ 
   font-size: 350%;
   padding-top:30px;
   padding-left:30px;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: bold;
   color:#192231;
   text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.mypicture{ 
  background:url('lexie.jpg')no-repeat;
  background-size:300px;
    width:200px;
    height:350px;
    float: right;
    border: 3px solid #bbb7ce;
    border-radius: 20px;
    padding-right:100px;
    margin-right:100px;
    margin-top:100px;
}

.sidenav{
  position:absolute;
    left:30px; top:190px; bottom: 0;
    width: 180px;
    background-color:#bbb7ce;
    height: 100%;
    text-align:left;
    padding-top:30px;
    padding-left:60px;
    padding-right: 8px;
    border-radius: 12px;
    border: 1px solid #ffffff;
    padding: 5px;
    bottom:0;
}

.sidenav img{
    padding-top:30px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.sidenav h2{
  padding-top:10px;
  padding-left:30px;
  font-size: 200%;
  font-family: 'Roboto Condensed', sans-serif;
  color:black;
}
.sidenav h3{  
  text-align:left;
  font-weight: bold;
  font-size: 120%;
  padding-left:10px;
  padding-top:10px;
  color:black;

}
.sidenav li{
  color:  white;
  font-size:80%;
  padding-left:0px;
  line-height: 25px;

}
.sidenav ul{
  padding-left:30px;
}
.sidenav a:link {
    color:#ffffff;
}
.sidenav a:visited {
    color:#2F675E ;
}
.sidenav p{
  line-height:25px;
  color: white;
  font-size:80%;
  padding-left:10px;
}
#About{ 
  position: absolute;
    left:240px; 
    top:210px; 
    right:0; 
    bottom:0;
    color:#192231;
}
#About h2{ 
  text-decoration: underline;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 60px;
  color:#6A6295;



} 
#About h3{ 
    font-family: 'Lato', sans-serif;
}
#About h4{
  color:#6A6295;
}

#About a{
    color:#6A6295;
}
