@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

@import url("https://fonts.googleapis.com/css?family=Lato");

* { margin: 0; padding: 0; border: none; }
html,body { height:100%;
 margin:0;
  padding:0; 
  font-family: 'Lato', sans-serif;
  line-height: 30px;
  }
body{ 
  background-color:#98878F;
  color:#C0B3A0;
  margin:0px;

 }
div.top{ 
  /*background-color:#494E6B;*/
  background:url('mountain.jpg');
  text-align: left;
  max-width: 100%;
  margin:30px;
  padding:0px;
  height: 150px;

}


div.top h1{ 
   font-size: 350%;
   padding-top:30px;
   padding-left:230px;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: bold;
   color:#192231;
   text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.mypicture{ 
  background:url('lexie.jpg')no-repeat;
  background-size:300px;
    width:200px;
    height:350px;
    float: right;
    border: 3px solid #C0B3A0;
    border-radius: 20px;
    padding-right:100px;
    margin-right:100px;
    margin-top:100px;
}

.sidenav{
  position:absolute;
    left:0px; top:190px; bottom: 0;
    width: 180px;
    background-color:#494E6B;
    height: 100%;
    text-align:left;
    padding-top:15px;
    padding-left:22px;
    padding-right: 8px;
    border-radius: 12px;
    border: 1px solid #C0B3A0;;
    padding: 5px;
}
.sidenav h3{  
  text-decoration: underline;
  text-align:left;
  font-size: 100%;
  padding-left:0px;
  padding-top:10px;

}
.sidenav a:link {
    color:#C0B3A0;
}
.sidenav a:visited {
    color:#2F675E ;
}
#About{ 
  position: absolute;
    left:240px; 
    top:210px; 
    right:0; 
    bottom:0;
    color:#192231;
}
#About h2{ 
  text-decoration: underline;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 60px;



} 
#About h3{ 
    font-family: 'Lato', sans-serif;
}
#intro{ 
    padding-right:400px;
}